
<% payment_sources = current_user&.credit_cards&.not_removed %>

<div data-controller="checkout-adyen"></div>

<% if payment_sources.present? %>
  <div id="existing_cards">
    <div class="form-group">
      <ul class="list-group mb-5 border rounded-md" data-controller="reveal">
        <% payment_sources.each_with_index do |card, index| %>
          <li class="p-0 m-0 border-b" id="<%= spree_dom_id(card) %>">
            <div class="custom-control custom-radio px-5 py-4 flex items-center">
              <label class="flex flex-row items-center cursor-pointer">
                <%= radio_button_tag "order[existing_card]", card.id, index == 0, { data: { hide: "dropin-container", checkout_adyen_target: index == 0 ? "defaultCard" : nil}, class: "mr-5" } %>
                <div class="flex space-x-4 items-center">
                  <%= payment_method_icon_tag(card.cc_type) %>
                  <span>****<%= card.last_digits %></span>
                  <span><%= card.month.to_s.rjust(2, '0') %>/<%= card.year %></span>
                </div>
              </label>
            </div>
          </li>
        <% end %>
        <li>
          <div class="custom-control custom-radio px-5 py-4 flex items-center w-full">
            <label class="flex flex-row items-center w-full pr-8">
              <%= radio_button_tag "order[existing_card]", nil, false, { data: { show: "dropin-container" }, class: "mr-5" } %>
              <div class="w-full flex flex-col items-start space-y-4 justify-center">
                <span class="cursor-pointer"><%= Spree.t(:add_new_credit_card) %></span>
                <%= render 'spree_adyen/drop_in', payment_session: current_adyen_payment_session %>
              </div>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <%= render 'spree_adyen/drop_in', payment_session: current_adyen_payment_session, auto_mount: true %>
<% end %>