End-to-end payments, data, and financial management in a single solution. Meet the financial technology platform that helps you realize your ambitions faster.

<div class="d-flex align-items-center">
  <%= payment_method_icon_tag 'visa', class: 'm-1' %>
  <%= payment_method_icon_tag 'master', class: 'm-1' %>
  <%= payment_method_icon_tag 'american_express', class: 'm-1' %>
  <%= payment_method_icon_tag 'apple_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'google_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'klarna', class: 'm-1' %>
  <%= payment_method_icon_tag 'afterpay', class: 'm-1' %>
  <%= payment_method_icon_tag 'affirm', class: 'm-1' %>
</div>